src/DataService/*.suo
src/DataService/01_Service/Helpmate.DataService.Beijing/bin
src/DataService/01_Service/Helpmate.DataService.Beijing/obj
src/DataService/01_Service/Helpmate.DataService.Canada/bin
src/DataService/01_Service/Helpmate.DataService.Canada/obj
src/DataService/02_Logic/Helpmate.DataService.Logic/bin
src/DataService/02_Logic/Helpmate.DataService.Logic/obj
src/DataService/03_DataAccess/Helpmate.DataService.IDataAccess/bin
src/DataService/03_DataAccess/Helpmate.DataService.IDataAccess/obj
src/DataService/03_DataAccess/Helpmate.DataService.SqlDataAccess/bin
src/DataService/03_DataAccess/Helpmate.DataService.SqlDataAccess/obj
src/DataService/04_Utility/Helpmate.DataService.Utility/bin
src/DataService/04_Utility/Helpmate.DataService.Utility/obj

doc/~*.doc
doc/~*.docx

*.suo
bin/
obj/

src/SoftWare/01_Portal/*.suo
src/SoftWare/01_Portal/01_CommonLib/Common.Utility/*.user
src/SoftWare/01_Portal/01_CommonLib/Common.Utility/bin
src/SoftWare/01_Portal/01_CommonLib/Common.Utility/obj
src/SoftWare/01_Portal/02_BizFocade/Helpmate.Facades/*.user
src/SoftWare/01_Portal/02_BizFocade/Helpmate.Facades/bin
src/SoftWare/01_Portal/02_BizFocade/Helpmate.Facades/obj
src/SoftWare/01_Portal/BizEntity.Enum/*.user
src/SoftWare/01_Portal/BizEntity.Enum/bin
src/SoftWare/01_Portal/BizEntity.Enum/obj
src/SoftWare/01_Portal/BizEntity/*.user
src/SoftWare/01_Portal/BizEntity/bin
src/SoftWare/01_Portal/BizEntity/obj
src/SoftWare/01_Portal/QueryFilter/*.user
src/SoftWare/01_Portal/QueryFilter/bin
src/SoftWare/01_Portal/QueryFilter/obj
src/SoftWare/01_Portal/UI/*.user
src/SoftWare/01_Portal/UI/bin
src/SoftWare/01_Portal/UI/obj
