<?xml version="1.0" encoding="utf-8"?>
<autorun>
  <startup>
    
    <!-- 启动对AppSettings相关配置文件的监控，当发生变化时清除相关内存缓存 -->
    <module type="Common.Utility.AppSettingFileWatcherAutorun, Common.Utility" />
    <!-- 启动对CodeNamePair相关配置文件的监控，当发生变化时清除相关内存缓存 -->
    <module type="Common.Utility.CodeNamePairFileWatcherAutorun, Common.Utility" />
    <!-- 启动对SQL相关配置文件(包括了数据库连接字符串配置文件)的监控，当发生变化时清除相关内存缓存 -->
    <module type="Common.Utility.DataAccess.Database.Config.DbConfigFileWatcherAutorun, Common.Utility.DataAccess" />

  </startup>
  <shutdown>
    <!-- 停止对AppSettings相关配置文件的监控 -->
    <module type="Common.Utility.AppSettingFileWatcherAutorun, Common.Utility" />
    <!-- 停止对CodeNamePair相关配置文件的监控 -->
    <module type="Common.Utility.CodeNamePairFileWatcherAutorun,Common.Utility" />
    <!-- 停止对SQL相关配置文件的监控，包括对数据库连接字符串配置文件的监控都停止 -->
    <module type="Common.Utility.DataAccess.Database.Config.DbConfigFileWatcherAutorun, Common.Utility.DataAccess" />
  </shutdown>
</autorun>
