<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--persistType为Cookie实现类型，有Web、Mobile等值；securityLevel为安全等级，有Low、Middle、High等值-->
  <cookies nodeName="TestCookie" persistType="Web" securityLevel="High">
    <!--Cookie名称-->
    <cookieName><![CDATA[TestCookie]]></cookieName>
    <!--cookie值存放编码方式，有json和normal方式，normal为明文字符串方式-->
    <encode>json</encode>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[1]]></securityExpires>
  </cookies>
  <cookies nodeName="LoginCookie" persistType="Web" securityLevel="Middle">
    <!--Cookie名称-->
    <cookieName><![CDATA[.sctravel.b2b.auth]]></cookieName>
    <!--cookie值存放编码方式，有json和normal方式，normal为明文字符串方式-->
    <encode>json</encode>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[10]]></securityExpires>
  </cookies>
  <cookies nodeName="ValidateCode" persistType="Web" securityLevel="Middle">
    <!--Cookie名称-->
    <cookieName><![CDATA[.sctravel.b2b.validatecode]]></cookieName>
    <!--cookie值存放编码方式，有json和normal方式，normal为明文字符串方式-->
    <encode>json</encode>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[10]]></securityExpires>
  </cookies>
  <cookies nodeName="ShoppingItemList" persistType="Web" securityLevel="Low">
    <!--Cookie名称-->
    <cookieName><![CDATA[ShoppingItemList]]></cookieName>
    <!--cookie值存放编码方式，有json和normal方式，normal为明文字符串方式-->
    <encode>json</encode>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[10]]></securityExpires>
  </cookies>
  <cookies nodeName="RememberUseNameAndPwd" persistType="Web" securityLevel="Low">
    <!--Cookie名称-->
    <cookieName><![CDATA[RememberUseNameAndPwd]]></cookieName>
    <!--cookie值存放编码方式，有json和normal方式，normal为明文字符串方式-->
    <encode>json</encode>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[10080]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[10]]></securityExpires>
  </cookies>
</configuration>
