<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Helpmate.Facades.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Helpmate.Facades.Properties.Settings>
            <setting name="Helpmate_Facades_LotteryWebSvc_LotteryWebService"
                serializeAs="String">
                <value>http://117.25.145.170:8088/LotteryWebService.asmx</value>
            </setting>
        </Helpmate.Facades.Properties.Settings>
    </applicationSettings>
</configuration>