<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--sql文件配置-->
    <add key="NHibernate.Configs.Sql" value="bin/sqls/"/>
    <!--一般走势图的总页数-->
    <add key="PageCount" value="7"/>
    <!--超级走势图的总个数-->
    <add key="MaxTotal" value="5000"/>
    <!--北京开奖时间间隔,单位分钟-->
    <add key="BJLotteryInteval" value="5"/>
    <!--加拿大开奖时间间隔,单位分钟-->
    <add key="CanadaLotteryInteval" value="4"/>
  </appSettings>
</configuration>
