<?xml version="1.0"?>
<mailTemplate>
  <id>B2B_Manual_Send</id>
  <sender>support@ciotour.com</sender>
  <senderDisplayName><![CDATA[识途旅游网-分销商开放平台]]></senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
     <%=Title%>
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
    <%=Content%>
      ]]>
    </template>
  </body>
</mailTemplate>