<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <database name="MSSQLReadService">
    <connectionString><![CDATA[Data Source = 117.25.148.58,3520;User ID = helpmate;Password = 1qa123!@#;Initial Catalog=Helpmate;]]></connectionString>
  </database>
  <database name="MSSQLWriteService">
    <connectionString><![CDATA[Data Source = 117.25.148.58,3520;User ID = helpmate;Password = 1qa123!@#;Initial Catalog=Helpmate;]]></connectionString>
  </database>
</configuration>