<?xml version="1.0" encoding="utf-8" ?>
<!--
	Database configuration.
	This file contains all the database instances used by the website.
	
	Note:
		database name is case-insensitive and must be unique.
-->
<databaseList>
  <database name="Loan" ProviderName="SQLServer">
    <!--ORACLE-->
    <!--<connectionString>Data Source=LoanDB;User Id=developer;Password=1qaz@WSX</connectionString>-->
    <!--SQL-->
    <!--<connectionString>Data Source=code.jeanhome.info\mytree,1433;Initial Catalog=LoanDB;User ID=developer;password=1qaz@WSX;Connection Timeout=60</connectionString>-->
    <connectionString>Data Source=127.0.0.1\mytree,1433;Initial Catalog=LoanDB;User ID=developer;password=1qaz@WSX;Connection Timeout=60</connectionString>
  </database>
</databaseList>
