<?xml version="1.0" encoding="utf-8" ?>
<autorun>
  <startup>
    <!-- 启动WCF的宿主 -->
    <module type="ECCentral.Service.Utility.WCF.RestWebServiceStartup, ECCentral.Service.Utility.WCF">
      <constructor>
        <arg>ECCentral.BizEntity.BizException, ECCentral.BizEntity</arg>
      </constructor>
    </module>
    
    <!-- load所有的服务端异常消息文本的数据并缓存，同时启动FileWatcher来监控这些文件变化 -->
    <module type="ECCentral.Service.Utility.ResouceManagerAutorun, ECCentral.Service.Utility" />
    <!-- 启动对AppSettings相关配置文件的监控，当发生变化时清除相关内存缓存 -->
    <module type="ECCentral.Service.Utility.AppSettingFileWatcherAutorun, ECCentral.Service.Utility" />
    <!-- 启动对CodeNamePair相关配置文件的监控，当发生变化时清除相关内存缓存 -->
    <module type="ECCentral.Service.Utility.CodeNamePairFileWatcherAutorun, ECCentral.Service.Utility" />
    <!-- 启动对SQL相关配置文件(包括了数据库连接字符串配置文件)的监控，当发生变化时清除相关内存缓存 -->
    <module type="ECCentral.Service.Utility.DataAccess.Config.DbConfigFileWatcherAutorun, ECCentral.Service.Utility.DataAccess" />
    
    <!-- 注册添加消息与订阅者直接的关系 -->
    <module type="ECCentral.Service.Utility.EventConsumerRegister, ECCentral.Service.Utility" />

    <!-- 注册C#的强类型枚举值和DB中存储的code直接的映射关系 -->
    <module type="ECCentral.Service.Common.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.Common.SqlDataAccess" />
  </startup>
  <shutdown>
    <!-- 清除缓存的服务端异常消息文本的数据，同时停止监控这些文件变化的FileWatcher -->
    <module type="ECCentral.Service.Utility.ResouceManagerAutorun, ECCentral.Service.Utility" />
    <!-- 停止对AppSettings相关配置文件的监控 -->
    <module type="ECCentral.Service.Utility.AppSettingFileWatcherAutorun, ECCentral.Service.Utility" />
    <!-- 停止对CodeNamePair相关配置文件的监控 -->
    <module type="ECCentral.Service.Utility.CodeNamePairFileWatcherAutorun, ECCentral.Service.Utility" />
    <!-- 停止对SQL相关配置文件的监控，包括对数据库连接字符串配置文件的监控都停止 -->
    <module type="ECCentral.Service.Utility.DataAccess.Config.DbConfigFileWatcherAutorun, ECCentral.Service.Utility.DataAccess" />
  </shutdown>
</autorun>