<?xml version="1.0" encoding="utf-8" ?>
<subscription>

  <!--****************************** Invoice  Start ******************************-->
  <!--NetPay审核后-->
  <event type="ECCentral.Service.EventMessage.Invoice.InvoiceNetpayAuditedMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.DataFeed.Ticket.Consumer.TicketCreateSOConsumer, ECCentral.DataFeed.Ticket.Consumer" />
  </event>  
  <!--****************************** Invoice  End ******************************-->
  
</subscription>