<?xml version="1.0" encoding="utf-8" ?>
<serviceList>
  <service path="CommonService" type="ECCentral.Service.Common.Restful.CommonDataService, Helpmate.Restful" />
  <service path="TelevisionService" type="ECCentral.Service.Television.Restful.TelevisionDataService, ECCentral.Service.Television.Restful" />
</serviceList>