<?xml version="1.0" encoding="utf-8" ?>
<ticketCompanys>
  <ticketCompany vendorSysNo="2" vendorName="峨眉山旅游票务公司">
    <subCompany vendorSysNo="-1" vendorName="游山票分公司">
      <productMapping productSysNo="1" productName="峨眉山门票(成人票)"></productMapping>
      <productMapping productSysNo="2" productName="峨眉山门票(优惠票)"></productMapping>
    </subCompany>

    <subCompany vendorSysNo="-2" vendorName="金顶索道分公司">
      <productMapping productSysNo="3" productName="峨眉山金顶索道(下行)"></productMapping>
      <productMapping productSysNo="4" productName="峨眉山金顶索道(上行)"></productMapping>
      <productMapping productSysNo="5" productName="峨眉山金顶索道(往返)"></productMapping>
      <productMapping productSysNo="157" productName="峨眉山金顶索道(下行优惠票)"></productMapping>
      <productMapping productSysNo="158" productName="峨眉山金顶索道(上行优惠票)"></productMapping>
      <productMapping productSysNo="159" productName="峨眉山金顶索道(往返优惠票)"></productMapping>
    </subCompany>

    <subCompany vendorSysNo="-3" vendorName="万年索道分公司">
      <productMapping productSysNo="6" productName="峨眉山万年索道(上行)"></productMapping>
      <productMapping productSysNo="7" productName="峨眉山万年索道(下行)"></productMapping>
      <productMapping productSysNo="8" productName="峨眉山万年索道(往返)"></productMapping>
      <productMapping productSysNo="160" productName="峨眉山万年索道(上行优惠票)"></productMapping>
      <productMapping productSysNo="161" productName="峨眉山万年索道(下行优惠票)"></productMapping>
      <productMapping productSysNo="162" productName="峨眉山万年索道(往返优惠票)"></productMapping>
    </subCompany>

    <subCompany vendorSysNo="-4" vendorName="旅业公司">
      <productMapping productSysNo="9" productName="峨眉山门票(成人票)"></productMapping>
      <productMapping productSysNo="10" productName="峨眉山门票(优惠票)"></productMapping>
      <productMapping productSysNo="11" productName="峨眉山门票(成人票)"></productMapping>
      <productMapping productSysNo="163" productName="峨眉山观光车票-高山往返票2(全票)"></productMapping>
      <productMapping productSysNo="164" productName="峨眉山观光车票-高山往返票2(儿童票)"></productMapping>
      <productMapping productSysNo="165" productName="峨眉山观光车票-高半山段往返票(儿童票)"></productMapping>
      <productMapping productSysNo="166" productName="峨眉山观光车票-中山段往返(儿童票)"></productMapping>
      <productMapping productSysNo="167" productName="峨眉山观光车票-高山往返票(儿童票)"></productMapping>
      <productMapping productSysNo="187" productName="峨眉山观光车票-高山往返票2(全票) 高山往返1"></productMapping>
    </subCompany>
  </ticketCompany>
</ticketCompanys>