<?xml version="1.0"?>
<typeVersionMaps globalDefaultVersion="1.0" assemblyFolder="">
  <!--Invoice Config Start-->
  <!--<map type="ECCentral.Service.Invoice.BizProcessor.PostPayProcessor, ECCentral.Service.Invoice.BizProcessor" version="2.0.0.0" />
  <map type="ECCentral.Service.Invoice.BizProcessor.SOIncomeProcessor, ECCentral.Service.Invoice.BizProcessor" version="2.0.0.0" />
  <map type="ECCentral.Service.Invoice.BizProcessor.SOIncomeRefundProcessor, ECCentral.Service.Invoice.BizProcessor" version="2.0.0.0" />-->
  <!--Invoice Config End-->
</typeVersionMaps>