<?xml version="1.0"?>
<appSettings>
  <!--***邮件相关***-->
  <add key="LogFolder" value=""/>
  <!--邮件默认编码-->
  <add key="Email_MailCharset" value="gb2312"/>
  <!--发送邮件的地址-->
  <add key="Email_MailFrom" value="749854118@qq.com"/>
  <!--发送邮件的发送栏默认的显示名-->
  <add key="Email_MailFromName" value="Test Argos Support"/>
  <!--邮件底部落款日期格式-->
  <add key="Email_Footer_SignatureDateFormat" value="yyyy-MM-dd"/>
  
</appSettings>