<?xml version="1.0" encoding="utf-8" ?>
<mailTemplates>
  <templateList languageCode="zh-CN">
    
    <!--Common Start-->
    <template path="Templates/Common/Default_Send.zh-CN.config"/>
    <!--Common End-->
    
  </templateList>

  <templateList languageCode="en-US">
  </templateList>

</mailTemplates>
