<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LotteryWebServiceSoap" sendTimeout="24.00:00:00"
                    maxReceivedMessageSize="9999999"
                         allowCookies="true"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3655/LotteryWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LotteryWebServiceSoap"
                contract="LotteryWebService.LotteryWebServiceSoap" name="LotteryWebServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--sql文件配置-->
    <add key="NHibernate.Configs.Sql" value="sqls/"/>
    <!--一般走势图的总页数-->
    <add key="PageCount" value="7"/>
  </appSettings>
  <applicationSettings>
    <UnitTest.Properties.Settings>
      <setting name="UnitTest_LotteryService2_LotteryWebService" serializeAs="String">
        <value>http://localhost:3655/LotteryWebService.asmx</value>
      </setting>
    </UnitTest.Properties.Settings>
  </applicationSettings>
</configuration>