<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LotteryWebServiceSoap" sendTimeout="24.00:00:00"
                    maxReceivedMessageSize="9999999" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3655/LotteryWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LotteryWebServiceSoap"
                contract="LotteryWebService.LotteryWebServiceSoap" name="LotteryWebServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--sql文件配置-->
    <add key="NHibernate.Configs.Sql" value="sqls/"/>
    <!--一般走势图的总页数-->
    <add key="PageCount" value="7"/>
  </appSettings>
</configuration>