<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log" type="Common.Utility.LogSection, Common.Utility" />
    <section name="dataAccess" type="Common.Utility.DataAccess.Database.Config.DataAccessSection, Common.Utility.DataAccess" />
    <section name="mail" type="Common.Utility.MailSection, Common.Utility" />
  </configSections>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
  <log source="Protal_ExceptionLog">
    <emitter type="text"></emitter>
  </log>
  <mail>
    <smtp recover="60">
      <add address="ssexch03" port="" username="" password="" enableSsl="false" />
      <add address="smtp.163.com" port="25" username="support@best.cn" password="123456" enableSsl="false" />
    </smtp>
  </mail>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
