<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataAccess" type="ECCentral.Service.Utility.DataAccess.Config.DataAccessSection, ECCentral.Service.Utility.DataAccess" />
    <section name="mail" type="ECCentral.Service.Utility.MailSection, ECCentral.Service.Utility" />
    <section name="log" type="ECCentral.Service.Utility.LogSection, ECCentral.Service.Utility" />
    <section name="codeNamePair" type="ECCentral.Service.Utility.CodeNamePairSection, ECCentral.Service.Utility" />
    <section name="cache" type="ECCentral.Service.Utility.CacheSection, ECCentral.Service.Utility" />
    <section name="environmentVariable" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />

  <mail>
    <smtp address="smtp.qq.com" userName="749854118@qq.com" password="jiang4465" port="25" enableSsl="false" />
    <smtp address="smtp.qq.com" userName="749854118@qq.com" password="jiang4465" port="25" enableSsl="false" />
  </mail>

  <log globalRegionName="百汇视频管理平台" localRegionName="Service">
    <!--<webservice param="http://" />-->
    <!--<text param="/Loger" />-->
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开" />-->
    <!--<custom type="" param="" />-->
  </log>

  <codeNamePair baseFolder="Configuration\CodeNamePairs">
    <appendItems>
      <appendItem languageCode="zh-cn" selectAppendItem="--请选择--" allAppendItem="--所有--" />
      <appendItem languageCode="zh-tw" selectAppendItem="--請選擇--" allAppendItem="--所有--" />
      <appendItem languageCode="en-us" selectAppendItem="--Please choose--" allAppendItem="--All--" />
    </appendItems>
  </codeNamePair>

  <cache default="distributed">
    <item name="local" type="ECCentral.Service.Utility.LocalMemoryCache, ECCentral.Service.Utility">
      <!--
      <parameters>
        <add key="pollingInterval" value="" />
        <add key="cacheMemoryLimitMegabytes" value="" />
        <add key="physicalMemoryLimitPercentage" value="" />
      </parameters>-->
    </item>
    <item name="distributed" type="ECCentral.Service.Utility.MemcachedCache, ECCentral.Service.Utility">
      <parameters>
        <add key="serverList" value="10.1.220.190:11211; 10.1.220.197:11211" />
        <add key="keyPrefix" value="EMS_Dev_" />
        <add key="maxPoolSize" value="10" />
        <add key="minPoolSize" value="5" />
        <add key="sendReceiveTimeout" value="00:00:02" />
        <!-- 2秒 -->
        <add key="connectTimeout" value="00:00:02" />
        <!-- 2秒 -->
        <add key="socketRecycleAge" value="00:30:00" />
        <!-- 30分钟 -->
        <add key="compressionThreshold" value="131072" />
        <!-- 128k -->
        <add key="localCacheExpiry" value="00:01:00" />
        <!-- 1分钟 -->
        <add key="localCacheName" value="local" />
      </parameters>
    </item>
  </cache>

  <appSettings>

    <!-- 设置服务端发生系统异常后，是否将异常detail信息返回客户端，true则返回详细异常堆栈信息，false返回友好错误提示-->
    <add key="ShowErrorDetail" value="true" />
    <!-- 设置网站启动时和网站关闭时自动执行的任务的配置文件路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="AutorunConfigPath" value="Configuration\Autorun.config" />
    <!-- 设置Restful Service的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="RestServiceConfigPath" value="Configuration\RestService.config" />
    <!-- Web打印的配置文件的相对WebHost跟目录的路径 -->
    <add key="WebPrintConfigPath" value="Configuration\PrintTemplates\WebPrinter.config" />
    <!-- 应用配置config文件目录相对WebHost跟目录的路径 -->
    <add key="AppSettingsPath" value="Configuration\AppSettings" />
    <!-- 异常信息的xml资源文件目录相对WebHost跟目录的路径 -->
    <add key="MessageResourcesPath" value="Configuration\MessageResources" />
    <!-- 邮件模板文件路径配置相对WebHost跟目录的路径-->
    <add key="MailTemplatesFilesConfigPath" value="Configuration\MailTemplates\MailTemplatesFiles.config" />
    <!-- 设置数据文件导出服务的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="FileExporterConfigPath" value="Configuration/FileExporter.config" />
    <!-- 设置http上传的文件存放的目录的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="UploadFileBaseFolder" value="UploadFiles" />
    <!-- 设置中文分词组件的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="WordSegmentConfigPath" value="Configuration/KTDictSeg.config" />
    <!-- 设置ObjectFactory注入实现类的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="TypeVersionConfigFilePath" value="Configuration\TypeVersion.config" />
    <!-- 设置消息与订阅者关系的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="EventConsumerConfigFilePath" value="Configuration\EventConsumer.config" />
    <!-- 设置队列的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="QueueConfigFilePath" value="Configuration\Queue.config" />
    <!-- CallCenter RESTFul Setting-->
    <add key="UserSysNo" value="1001" />
    <add key="UserAcct" value="admin" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="FileUpload.ashx" verb="*" type="ECCentral.Service.Utility.FileUploadHandler, ECCentral.Service.Utility" validate="false" />
      <add path="HtmlView.ashx" verb="*" type="ECCentral.Service.Utility.HtmlViewHandler, ECCentral.Service.Utility" validate="false" />
      <add path="WebPrinter.ashx" verb="*" type="ECCentral.Service.Utility.WebPrintHandler, ECCentral.Service.Utility" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0" />

    <machineKey validationKey="F6926E95374B97E5E6230A14368BD63A2DBC837D8E8937EE706BB9FAB9F56C208C32E918A8040D8B4EBFFC4C5F27EA2754157934C3370D497BD1AD256C2BC1C0" decryptionKey="0A5A6475E5F5E8C382E5C49859B04F141C91AEDDE0E65F94279BEC68D26B30C2" validation="SHA1" decryption="AES" />

    <caching>
      <outputCache enableOutputCache="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--<add name="Countries" location="Client" duration="36000" varyByParam="*"/>-->
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode" />
      <add name="FileUpload" path="FileUpload.ashx" verb="*" type="ECCentral.Service.Utility.FileUploadHandler, ECCentral.Service.Utility" preCondition="integratedMode" />
      <add name="HtmlView" path="HtmlView.ashx" verb="*" type="ECCentral.Service.Utility.HtmlViewHandler, ECCentral.Service.Utility" preCondition="integratedMode" />
      <add name="WebPrinter" path="WebPrinter.ashx" verb="*" type="ECCentral.Service.Utility.WebPrintHandler, ECCentral.Service.Utility" preCondition="integratedMode" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
